<div class="home-content">

  <section class="sec-1">
    <div class="welcome-video">
      <div class="video-content">
        <iframe src="https://www.youtube.com/embed/pUJlhTguIp4?si=5nl9hsFwAZ9qbo96&amp;controls=0&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;enablejsapi=1&amp;playlist=pUJlhTguIp4"
                frameborder="0" allow="autoplay" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="welcome flex flex-col gap-2 items-center ">
      <span class="text-[25px]">Bienvenido a</span>
      <!-- <video [autoplay]="true" [muted]="true" [controls]="false" style="width: 450px;">
        <source src="/assets/images/Intro_Espana2942.mp4" type="video/mp4">
      </video> -->

      <span class="text-[65px]">España 2942</span>
      <span class="text-[25px]">Unete a nuestra organización, ya somos 2275 miembros y tu puedes ser uno mas nosotros</span>
    </div>
  </section>

  <section class="sec-2">
    <div class="titulo">
      Origenes
    </div>
    <div class="sec-content flex flex-row w-full p-5 justify-center">
      <div class="card text-2xl flex flex-col gap-5">
        <span>
          Nuestra Organización comenzó a andar en el 2015, 9 años despues contamos con 2274 Miembros, amigos y compañeros.
        </span>
        <span>
          Jamas pensamos que llegariamos tan lejos y ahora solo queremos crecer mas y mas para poder abarcar todas las mecanicas de este
          gran juego.
        </span>
        <span>
          Con la finalidad de crear una inmersión mas completa hemos creado una historia para nuestra organización acorde con el lore
          oficial de Star Citizen. ¡¡DISFRUTALA!!
        </span>
      </div>
      <div class="w-1/2">
        <img src="/assets/images/official-ammor2.png" alt="">
      </div>
    </div>

  </section>

  <div class="organization-content ">


    <section class="sec-3">
      <div>
        secciones
      </div>
    </section>

    <section class="sec-4">
      <div>
        organizaciones alidas
      </div>
    </section>
  </div>
</div>